# Rules from Flutter\streamdeck/.gitignore
Flutter\streamdeck/*.class
Flutter\streamdeck/*.log
Flutter\streamdeck/*.pyc
Flutter\streamdeck/*.swp
Flutter\streamdeck/.DS_Store
Flutter\streamdeck/.atom/
Flutter\streamdeck/.buildlog/
Flutter\streamdeck/.history
Flutter\streamdeck/.svn/
Flutter\streamdeck/migrate_working_dir/
Flutter\streamdeck/*.iml
Flutter\streamdeck/*.ipr
Flutter\streamdeck/*.iws
Flutter\streamdeck/.idea/
Flutter\streamdeck/**/doc/api/
Flutter\streamdeck/**/ios/Flutter/.last_build_id
Flutter\streamdeck/.dart_tool/
Flutter\streamdeck/.flutter-plugins
Flutter\streamdeck/.flutter-plugins-dependencies
Flutter\streamdeck/.pub-cache/
Flutter\streamdeck/.pub/
Flutter\streamdeck//build/
Flutter\streamdeck/app.*.symbols
Flutter\streamdeck/app.*.map.json
Flutter\streamdeck//android/app/debug
Flutter\streamdeck//android/app/profile
Flutter\streamdeck//android/app/release

# Rules from Flutter\streamdeck\.idea/.gitignore
Flutter\streamdeck\.idea//shelf/
Flutter\streamdeck\.idea//workspace.xml

# Rules from Flutter\streamdeck\android/.gitignore
Flutter\streamdeck\android/gradle-wrapper.jar
Flutter\streamdeck\android//.gradle
Flutter\streamdeck\android//captures/
Flutter\streamdeck\android//gradlew
Flutter\streamdeck\android//gradlew.bat
Flutter\streamdeck\android//local.properties
Flutter\streamdeck\android/GeneratedPluginRegistrant.java
Flutter\streamdeck\android/key.properties
Flutter\streamdeck\android/**/*.keystore
Flutter\streamdeck\android/**/*.jks

# Rules from Flutter\streamdeck\ios/.gitignore
Flutter\streamdeck\ios/**/dgph
Flutter\streamdeck\ios/*.mode1v3
Flutter\streamdeck\ios/*.mode2v3
Flutter\streamdeck\ios/*.moved-aside
Flutter\streamdeck\ios/*.pbxuser
Flutter\streamdeck\ios/*.perspectivev3
Flutter\streamdeck\ios/**/*sync/
Flutter\streamdeck\ios/.sconsign.dblite
Flutter\streamdeck\ios/.tags*
Flutter\streamdeck\ios/**/.vagrant/
Flutter\streamdeck\ios/**/DerivedData/
Flutter\streamdeck\ios/Icon?
Flutter\streamdeck\ios/**/Pods/
Flutter\streamdeck\ios/**/.symlinks/
Flutter\streamdeck\ios/profile
Flutter\streamdeck\ios/xcuserdata
Flutter\streamdeck\ios/**/.generated/
Flutter\streamdeck\ios/Flutter/App.framework
Flutter\streamdeck\ios/Flutter/Flutter.framework
Flutter\streamdeck\ios/Flutter/Flutter.podspec
Flutter\streamdeck\ios/Flutter/Generated.xcconfig
Flutter\streamdeck\ios/Flutter/ephemeral/
Flutter\streamdeck\ios/Flutter/app.flx
Flutter\streamdeck\ios/Flutter/app.zip
Flutter\streamdeck\ios/Flutter/flutter_assets/
Flutter\streamdeck\ios/Flutter/flutter_export_environment.sh
Flutter\streamdeck\ios/ServiceDefinitions.json
Flutter\streamdeck\ios/Runner/GeneratedPluginRegistrant.*
Flutter\streamdeck\ios/!default.mode1v3
Flutter\streamdeck\ios/!default.mode2v3
Flutter\streamdeck\ios/!default.pbxuser
Flutter\streamdeck\ios/!default.perspectivev3

# Rules from Flutter\streamdeck\linux/.gitignore
Flutter\streamdeck\linux/flutter/ephemeral

# Rules from Flutter\streamdeck\macos/.gitignore
Flutter\streamdeck\macos/**/Flutter/ephemeral/
Flutter\streamdeck\macos/**/Pods/
Flutter\streamdeck\macos/**/dgph
Flutter\streamdeck\macos/**/xcuserdata/

# Rules from Flutter\streamdeck\windows/.gitignore
Flutter\streamdeck\windows/flutter/ephemeral/
Flutter\streamdeck\windows/*.suo
Flutter\streamdeck\windows/*.user
Flutter\streamdeck\windows/*.userosscache
Flutter\streamdeck\windows/*.sln.docstates
Flutter\streamdeck\windows/x64/
Flutter\streamdeck\windows/x86/
Flutter\streamdeck\windows/*.[Cc]ache
Flutter\streamdeck\windows/!*.[Cc]ache/

# Rules from Project/.gitignore
Project/*__pycache__*

# Rules from Flutter/streamdeck/.gitignore
Flutter/streamdeck/*.class
Flutter/streamdeck/*.log
Flutter/streamdeck/*.pyc
Flutter/streamdeck/*.swp
Flutter/streamdeck/.DS_Store
Flutter/streamdeck/.atom/
Flutter/streamdeck/.buildlog/
Flutter/streamdeck/.history
Flutter/streamdeck/.svn/
Flutter/streamdeck/migrate_working_dir/
Flutter/streamdeck/*.iml
Flutter/streamdeck/*.ipr
Flutter/streamdeck/*.iws
Flutter/streamdeck/.idea/
Flutter/streamdeck/**/doc/api/
Flutter/streamdeck/**/ios/Flutter/.last_build_id
Flutter/streamdeck/.dart_tool/
Flutter/streamdeck/.flutter-plugins
Flutter/streamdeck/.flutter-plugins-dependencies
Flutter/streamdeck/.pub-cache/
Flutter/streamdeck/.pub/
Flutter/streamdeck//build/
Flutter/streamdeck/app.*.symbols
Flutter/streamdeck/app.*.map.json
Flutter/streamdeck//android/app/debug
Flutter/streamdeck//android/app/profile
Flutter/streamdeck//android/app/release

# Rules from Flutter/streamdeck/.idea/.gitignore
Flutter/streamdeck/.idea//shelf/
Flutter/streamdeck/.idea//workspace.xml

# Rules from Flutter/streamdeck/android/.gitignore
Flutter/streamdeck/android/gradle-wrapper.jar
Flutter/streamdeck/android//.gradle
Flutter/streamdeck/android//captures/
Flutter/streamdeck/android//gradlew
Flutter/streamdeck/android//gradlew.bat
Flutter/streamdeck/android//local.properties
Flutter/streamdeck/android/GeneratedPluginRegistrant.java
Flutter/streamdeck/android/key.properties
Flutter/streamdeck/android/**/*.keystore
Flutter/streamdeck/android/**/*.jks

# Rules from Flutter/streamdeck/ios/.gitignore
Flutter/streamdeck/ios/**/dgph
Flutter/streamdeck/ios/*.mode1v3
Flutter/streamdeck/ios/*.mode2v3
Flutter/streamdeck/ios/*.moved-aside
Flutter/streamdeck/ios/*.pbxuser
Flutter/streamdeck/ios/*.perspectivev3
Flutter/streamdeck/ios/**/*sync/
Flutter/streamdeck/ios/.sconsign.dblite
Flutter/streamdeck/ios/.tags*
Flutter/streamdeck/ios/**/.vagrant/
Flutter/streamdeck/ios/**/DerivedData/
Flutter/streamdeck/ios/Icon?
Flutter/streamdeck/ios/**/Pods/
Flutter/streamdeck/ios/**/.symlinks/
Flutter/streamdeck/ios/profile
Flutter/streamdeck/ios/xcuserdata
Flutter/streamdeck/ios/**/.generated/
Flutter/streamdeck/ios/Flutter/App.framework
Flutter/streamdeck/ios/Flutter/Flutter.framework
Flutter/streamdeck/ios/Flutter/Flutter.podspec
Flutter/streamdeck/ios/Flutter/Generated.xcconfig
Flutter/streamdeck/ios/Flutter/ephemeral/
Flutter/streamdeck/ios/Flutter/app.flx
Flutter/streamdeck/ios/Flutter/app.zip
Flutter/streamdeck/ios/Flutter/flutter_assets/
Flutter/streamdeck/ios/Flutter/flutter_export_environment.sh
Flutter/streamdeck/ios/ServiceDefinitions.json
Flutter/streamdeck/ios/Runner/GeneratedPluginRegistrant.*
Flutter/streamdeck/ios/!default.mode1v3
Flutter/streamdeck/ios/!default.mode2v3
Flutter/streamdeck/ios/!default.pbxuser
Flutter/streamdeck/ios/!default.perspectivev3

# Rules from Flutter/streamdeck/linux/.gitignore
Flutter/streamdeck/linux/flutter/ephemeral

# Rules from Flutter/streamdeck/macos/.gitignore
Flutter/streamdeck/macos/**/Flutter/ephemeral/
Flutter/streamdeck/macos/**/Pods/
Flutter/streamdeck/macos/**/dgph
Flutter/streamdeck/macos/**/xcuserdata/

# Rules from Flutter/streamdeck/windows/.gitignore
Flutter/streamdeck/windows/flutter/ephemeral/
Flutter/streamdeck/windows/*.suo
Flutter/streamdeck/windows/*.user
Flutter/streamdeck/windows/*.userosscache
Flutter/streamdeck/windows/*.sln.docstates
Flutter/streamdeck/windows/x64/
Flutter/streamdeck/windows/x86/
Flutter/streamdeck/windows/*.[Cc]ache
Flutter/streamdeck/windows/!*.[Cc]ache/

# Rules from Project/.gitignore
Project/*__pycache__*

