# Rules from streamdeck/.gitignore
streamdeck/Flutter\streamdeck/*.class
streamdeck/Flutter\streamdeck/*.log
streamdeck/Flutter\streamdeck/*.pyc
streamdeck/Flutter\streamdeck/*.swp
streamdeck/Flutter\streamdeck/.DS_Store
streamdeck/Flutter\streamdeck/.atom/
streamdeck/Flutter\streamdeck/.buildlog/
streamdeck/Flutter\streamdeck/.history
streamdeck/Flutter\streamdeck/.svn/
streamdeck/Flutter\streamdeck/migrate_working_dir/
streamdeck/Flutter\streamdeck/*.iml
streamdeck/Flutter\streamdeck/*.ipr
streamdeck/Flutter\streamdeck/*.iws
streamdeck/Flutter\streamdeck/.idea/
streamdeck/Flutter\streamdeck/**/doc/api/
streamdeck/Flutter\streamdeck/**/ios/Flutter/.last_build_id
streamdeck/Flutter\streamdeck/.dart_tool/
streamdeck/Flutter\streamdeck/.flutter-plugins
streamdeck/Flutter\streamdeck/.flutter-plugins-dependencies
streamdeck/Flutter\streamdeck/.pub-cache/
streamdeck/Flutter\streamdeck/.pub/
streamdeck/Flutter\streamdeck//build/
streamdeck/Flutter\streamdeck/app.*.symbols
streamdeck/Flutter\streamdeck/app.*.map.json
streamdeck/Flutter\streamdeck//android/app/debug
streamdeck/Flutter\streamdeck//android/app/profile
streamdeck/Flutter\streamdeck//android/app/release
streamdeck/Flutter\streamdeck\.idea//shelf/
streamdeck/Flutter\streamdeck\.idea//workspace.xml
streamdeck/Flutter\streamdeck\android/gradle-wrapper.jar
streamdeck/Flutter\streamdeck\android//.gradle
streamdeck/Flutter\streamdeck\android//captures/
streamdeck/Flutter\streamdeck\android//gradlew
streamdeck/Flutter\streamdeck\android//gradlew.bat
streamdeck/Flutter\streamdeck\android//local.properties
streamdeck/Flutter\streamdeck\android/GeneratedPluginRegistrant.java
streamdeck/Flutter\streamdeck\android/key.properties
streamdeck/Flutter\streamdeck\android/**/*.keystore
streamdeck/Flutter\streamdeck\android/**/*.jks
streamdeck/Flutter\streamdeck\ios/**/dgph
streamdeck/Flutter\streamdeck\ios/*.mode1v3
streamdeck/Flutter\streamdeck\ios/*.mode2v3
streamdeck/Flutter\streamdeck\ios/*.moved-aside
streamdeck/Flutter\streamdeck\ios/*.pbxuser
streamdeck/Flutter\streamdeck\ios/*.perspectivev3
streamdeck/Flutter\streamdeck\ios/**/*sync/
streamdeck/Flutter\streamdeck\ios/.sconsign.dblite
streamdeck/Flutter\streamdeck\ios/.tags*
streamdeck/Flutter\streamdeck\ios/**/.vagrant/
streamdeck/Flutter\streamdeck\ios/**/DerivedData/
streamdeck/Flutter\streamdeck\ios/Icon?
streamdeck/Flutter\streamdeck\ios/**/Pods/
streamdeck/Flutter\streamdeck\ios/**/.symlinks/
streamdeck/Flutter\streamdeck\ios/profile
streamdeck/Flutter\streamdeck\ios/xcuserdata
streamdeck/Flutter\streamdeck\ios/**/.generated/
streamdeck/Flutter\streamdeck\ios/Flutter/App.framework
streamdeck/Flutter\streamdeck\ios/Flutter/Flutter.framework
streamdeck/Flutter\streamdeck\ios/Flutter/Flutter.podspec
streamdeck/Flutter\streamdeck\ios/Flutter/Generated.xcconfig
streamdeck/Flutter\streamdeck\ios/Flutter/ephemeral/
streamdeck/Flutter\streamdeck\ios/Flutter/app.flx
streamdeck/Flutter\streamdeck\ios/Flutter/app.zip
streamdeck/Flutter\streamdeck\ios/Flutter/flutter_assets/
streamdeck/Flutter\streamdeck\ios/Flutter/flutter_export_environment.sh
streamdeck/Flutter\streamdeck\ios/ServiceDefinitions.json
streamdeck/Flutter\streamdeck\ios/Runner/GeneratedPluginRegistrant.*
streamdeck/Flutter\streamdeck\ios/!default.mode1v3
streamdeck/Flutter\streamdeck\ios/!default.mode2v3
streamdeck/Flutter\streamdeck\ios/!default.pbxuser
streamdeck/Flutter\streamdeck\ios/!default.perspectivev3
streamdeck/Flutter\streamdeck\linux/flutter/ephemeral
streamdeck/Flutter\streamdeck\macos/**/Flutter/ephemeral/
streamdeck/Flutter\streamdeck\macos/**/Pods/
streamdeck/Flutter\streamdeck\macos/**/dgph
streamdeck/Flutter\streamdeck\macos/**/xcuserdata/
streamdeck/Flutter\streamdeck\windows/flutter/ephemeral/
streamdeck/Flutter\streamdeck\windows/*.suo
streamdeck/Flutter\streamdeck\windows/*.user
streamdeck/Flutter\streamdeck\windows/*.userosscache
streamdeck/Flutter\streamdeck\windows/*.sln.docstates
streamdeck/Flutter\streamdeck\windows/x64/
streamdeck/Flutter\streamdeck\windows/x86/
streamdeck/Flutter\streamdeck\windows/*.[Cc]ache
streamdeck/Flutter\streamdeck\windows/!*.[Cc]ache/
streamdeck/Project/*__pycache__*
streamdeck/Flutter/streamdeck/*.class
streamdeck/Flutter/streamdeck/*.log
streamdeck/Flutter/streamdeck/*.pyc
streamdeck/Flutter/streamdeck/*.swp
streamdeck/Flutter/streamdeck/.DS_Store
streamdeck/Flutter/streamdeck/.atom/
streamdeck/Flutter/streamdeck/.buildlog/
streamdeck/Flutter/streamdeck/.history
streamdeck/Flutter/streamdeck/.svn/
streamdeck/Flutter/streamdeck/migrate_working_dir/
streamdeck/Flutter/streamdeck/*.iml
streamdeck/Flutter/streamdeck/*.ipr
streamdeck/Flutter/streamdeck/*.iws
streamdeck/Flutter/streamdeck/.idea/
streamdeck/Flutter/streamdeck/**/doc/api/
streamdeck/Flutter/streamdeck/**/ios/Flutter/.last_build_id
streamdeck/Flutter/streamdeck/.dart_tool/
streamdeck/Flutter/streamdeck/.flutter-plugins
streamdeck/Flutter/streamdeck/.flutter-plugins-dependencies
streamdeck/Flutter/streamdeck/.pub-cache/
streamdeck/Flutter/streamdeck/.pub/
streamdeck/Flutter/streamdeck//build/
streamdeck/Flutter/streamdeck/app.*.symbols
streamdeck/Flutter/streamdeck/app.*.map.json
streamdeck/Flutter/streamdeck//android/app/debug
streamdeck/Flutter/streamdeck//android/app/profile
streamdeck/Flutter/streamdeck//android/app/release
streamdeck/Flutter/streamdeck/.idea//shelf/
streamdeck/Flutter/streamdeck/.idea//workspace.xml
streamdeck/Flutter/streamdeck/android/gradle-wrapper.jar
streamdeck/Flutter/streamdeck/android//.gradle
streamdeck/Flutter/streamdeck/android//captures/
streamdeck/Flutter/streamdeck/android//gradlew
streamdeck/Flutter/streamdeck/android//gradlew.bat
streamdeck/Flutter/streamdeck/android//local.properties
streamdeck/Flutter/streamdeck/android/GeneratedPluginRegistrant.java
streamdeck/Flutter/streamdeck/android/key.properties
streamdeck/Flutter/streamdeck/android/**/*.keystore
streamdeck/Flutter/streamdeck/android/**/*.jks
streamdeck/Flutter/streamdeck/ios/**/dgph
streamdeck/Flutter/streamdeck/ios/*.mode1v3
streamdeck/Flutter/streamdeck/ios/*.mode2v3
streamdeck/Flutter/streamdeck/ios/*.moved-aside
streamdeck/Flutter/streamdeck/ios/*.pbxuser
streamdeck/Flutter/streamdeck/ios/*.perspectivev3
streamdeck/Flutter/streamdeck/ios/**/*sync/
streamdeck/Flutter/streamdeck/ios/.sconsign.dblite
streamdeck/Flutter/streamdeck/ios/.tags*
streamdeck/Flutter/streamdeck/ios/**/.vagrant/
streamdeck/Flutter/streamdeck/ios/**/DerivedData/
streamdeck/Flutter/streamdeck/ios/Icon?
streamdeck/Flutter/streamdeck/ios/**/Pods/
streamdeck/Flutter/streamdeck/ios/**/.symlinks/
streamdeck/Flutter/streamdeck/ios/profile
streamdeck/Flutter/streamdeck/ios/xcuserdata
streamdeck/Flutter/streamdeck/ios/**/.generated/
streamdeck/Flutter/streamdeck/ios/Flutter/App.framework
streamdeck/Flutter/streamdeck/ios/Flutter/Flutter.framework
streamdeck/Flutter/streamdeck/ios/Flutter/Flutter.podspec
streamdeck/Flutter/streamdeck/ios/Flutter/Generated.xcconfig
streamdeck/Flutter/streamdeck/ios/Flutter/ephemeral/
streamdeck/Flutter/streamdeck/ios/Flutter/app.flx
streamdeck/Flutter/streamdeck/ios/Flutter/app.zip
streamdeck/Flutter/streamdeck/ios/Flutter/flutter_assets/
streamdeck/Flutter/streamdeck/ios/Flutter/flutter_export_environment.sh
streamdeck/Flutter/streamdeck/ios/ServiceDefinitions.json
streamdeck/Flutter/streamdeck/ios/Runner/GeneratedPluginRegistrant.*
streamdeck/Flutter/streamdeck/ios/!default.mode1v3
streamdeck/Flutter/streamdeck/ios/!default.mode2v3
streamdeck/Flutter/streamdeck/ios/!default.pbxuser
streamdeck/Flutter/streamdeck/ios/!default.perspectivev3
streamdeck/Flutter/streamdeck/linux/flutter/ephemeral
streamdeck/Flutter/streamdeck/macos/**/Flutter/ephemeral/
streamdeck/Flutter/streamdeck/macos/**/Pods/
streamdeck/Flutter/streamdeck/macos/**/dgph
streamdeck/Flutter/streamdeck/macos/**/xcuserdata/
streamdeck/Flutter/streamdeck/windows/flutter/ephemeral/
streamdeck/Flutter/streamdeck/windows/*.suo
streamdeck/Flutter/streamdeck/windows/*.user
streamdeck/Flutter/streamdeck/windows/*.userosscache
streamdeck/Flutter/streamdeck/windows/*.sln.docstates
streamdeck/Flutter/streamdeck/windows/x64/
streamdeck/Flutter/streamdeck/windows/x86/
streamdeck/Flutter/streamdeck/windows/*.[Cc]ache
streamdeck/Flutter/streamdeck/windows/!*.[Cc]ache/
streamdeck/Project/*__pycache__*

# Rules from streamdeck/Flutter/streamdeck/.gitignore
streamdeck/Flutter/streamdeck/*.class
streamdeck/Flutter/streamdeck/*.log
streamdeck/Flutter/streamdeck/*.pyc
streamdeck/Flutter/streamdeck/*.swp
streamdeck/Flutter/streamdeck/.DS_Store
streamdeck/Flutter/streamdeck/.atom/
streamdeck/Flutter/streamdeck/.buildlog/
streamdeck/Flutter/streamdeck/.history
streamdeck/Flutter/streamdeck/.svn/
streamdeck/Flutter/streamdeck/migrate_working_dir/
streamdeck/Flutter/streamdeck/*.iml
streamdeck/Flutter/streamdeck/*.ipr
streamdeck/Flutter/streamdeck/*.iws
streamdeck/Flutter/streamdeck/.idea/
streamdeck/Flutter/streamdeck/**/doc/api/
streamdeck/Flutter/streamdeck/**/ios/Flutter/.last_build_id
streamdeck/Flutter/streamdeck/.dart_tool/
streamdeck/Flutter/streamdeck/.flutter-plugins
streamdeck/Flutter/streamdeck/.flutter-plugins-dependencies
streamdeck/Flutter/streamdeck/.pub-cache/
streamdeck/Flutter/streamdeck/.pub/
streamdeck/Flutter/streamdeck//build/
streamdeck/Flutter/streamdeck/app.*.symbols
streamdeck/Flutter/streamdeck/app.*.map.json
streamdeck/Flutter/streamdeck//android/app/debug
streamdeck/Flutter/streamdeck//android/app/profile
streamdeck/Flutter/streamdeck//android/app/release

# Rules from streamdeck/Flutter/streamdeck/android/.gitignore
streamdeck/Flutter/streamdeck/android/gradle-wrapper.jar
streamdeck/Flutter/streamdeck/android//.gradle
streamdeck/Flutter/streamdeck/android//captures/
streamdeck/Flutter/streamdeck/android//gradlew
streamdeck/Flutter/streamdeck/android//gradlew.bat
streamdeck/Flutter/streamdeck/android//local.properties
streamdeck/Flutter/streamdeck/android/GeneratedPluginRegistrant.java
streamdeck/Flutter/streamdeck/android/key.properties
streamdeck/Flutter/streamdeck/android/**/*.keystore
streamdeck/Flutter/streamdeck/android/**/*.jks

# Rules from streamdeck/Flutter/streamdeck/ios/.gitignore
streamdeck/Flutter/streamdeck/ios/**/dgph
streamdeck/Flutter/streamdeck/ios/*.mode1v3
streamdeck/Flutter/streamdeck/ios/*.mode2v3
streamdeck/Flutter/streamdeck/ios/*.moved-aside
streamdeck/Flutter/streamdeck/ios/*.pbxuser
streamdeck/Flutter/streamdeck/ios/*.perspectivev3
streamdeck/Flutter/streamdeck/ios/**/*sync/
streamdeck/Flutter/streamdeck/ios/.sconsign.dblite
streamdeck/Flutter/streamdeck/ios/.tags*
streamdeck/Flutter/streamdeck/ios/**/.vagrant/
streamdeck/Flutter/streamdeck/ios/**/DerivedData/
streamdeck/Flutter/streamdeck/ios/Icon?
streamdeck/Flutter/streamdeck/ios/**/Pods/
streamdeck/Flutter/streamdeck/ios/**/.symlinks/
streamdeck/Flutter/streamdeck/ios/profile
streamdeck/Flutter/streamdeck/ios/xcuserdata
streamdeck/Flutter/streamdeck/ios/**/.generated/
streamdeck/Flutter/streamdeck/ios/Flutter/App.framework
streamdeck/Flutter/streamdeck/ios/Flutter/Flutter.framework
streamdeck/Flutter/streamdeck/ios/Flutter/Flutter.podspec
streamdeck/Flutter/streamdeck/ios/Flutter/Generated.xcconfig
streamdeck/Flutter/streamdeck/ios/Flutter/ephemeral/
streamdeck/Flutter/streamdeck/ios/Flutter/app.flx
streamdeck/Flutter/streamdeck/ios/Flutter/app.zip
streamdeck/Flutter/streamdeck/ios/Flutter/flutter_assets/
streamdeck/Flutter/streamdeck/ios/Flutter/flutter_export_environment.sh
streamdeck/Flutter/streamdeck/ios/ServiceDefinitions.json
streamdeck/Flutter/streamdeck/ios/Runner/GeneratedPluginRegistrant.*
streamdeck/Flutter/streamdeck/ios/!default.mode1v3
streamdeck/Flutter/streamdeck/ios/!default.mode2v3
streamdeck/Flutter/streamdeck/ios/!default.pbxuser
streamdeck/Flutter/streamdeck/ios/!default.perspectivev3

# Rules from streamdeck/Flutter/streamdeck/linux/.gitignore
streamdeck/Flutter/streamdeck/linux/flutter/ephemeral

# Rules from streamdeck/Flutter/streamdeck/macos/.gitignore
streamdeck/Flutter/streamdeck/macos/**/Flutter/ephemeral/
streamdeck/Flutter/streamdeck/macos/**/Pods/
streamdeck/Flutter/streamdeck/macos/**/dgph
streamdeck/Flutter/streamdeck/macos/**/xcuserdata/

# Rules from streamdeck/Flutter/streamdeck/windows/.gitignore
streamdeck/Flutter/streamdeck/windows/flutter/ephemeral/
streamdeck/Flutter/streamdeck/windows/*.suo
streamdeck/Flutter/streamdeck/windows/*.user
streamdeck/Flutter/streamdeck/windows/*.userosscache
streamdeck/Flutter/streamdeck/windows/*.sln.docstates
streamdeck/Flutter/streamdeck/windows/x64/
streamdeck/Flutter/streamdeck/windows/x86/
streamdeck/Flutter/streamdeck/windows/*.[Cc]ache
streamdeck/Flutter/streamdeck/windows/!*.[Cc]ache/

# Rules from streamdeck/Project/.gitignore
streamdeck/Project/*__pycache__*

